body {
  background-color: blanchedalmond; }
  body header .menu {
    background-color: slategray; }
    body header .menu .logo {
      height: 60px; }
    body header .menu .navbar {
      height: 70px;
      margin-top: 30px; }
      body header .menu .navbar ul li {
        margin-right: 40px; }
        body header .menu .navbar ul li a .active {
          color: red; }
        body header .menu .navbar ul lilast-child {
          margin-right: 0; }
    body header .menu .icons {
      margin-top: 30px; }
      body header .menu .icons img {
        margin-right: 20px;
        height: 20px; }
  body .flex {
    display: flex;
    justify-content: space-evenly; }
  body .section1 {
    display: flex;
    justify-content: center; }
    body .section1 .container {
      flex-wrap: wrap;
      background-color: wheat;
      margin-top: 50px;
      max-width: 1300px;
      width: 100%; }
      body .section1 .container .img1:hover {
        transform: rotate(180deg);
        transition: 2s; }
      body .section1 .container .img2:hover {
        transform: scale(0.5);
        transition-delay: 1s; }
      body .section1 .container .img3:hover {
        background-color: powderblue; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }
